<form *ngIf="artist" (submit)="OnSubmit(formArtist)" #formArtist="ngForm" class="form-sample">
  <div class="error-box"></div>
  <div class=" row">
    <div class="col-md-6">
      <div class="row">
        <div class=" row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Artist name *</label>
              <div class="col-sm-9">
                <input [(ngModel)]="artist.name" ngModel #name="ngModel" name="name" type="text" class="form-control" required>
                <p *ngIf="controls.name">
                  <span *ngIf=" isSubmit == 1 && controls.name.errors != null" class="error-messege">
                    <span *ngIf="controls.name.errors.required" class="error">name is required.</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngFor="let price of artist.prices; let i = index">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Price {{price.name}}* ({{price.icon}})</label>
              <div class="col-sm-9">
                <input [(ngModel)]="artist.prices[i].price" ngModel #price{{price.name}}="ngModel" name="price{{price.name}}" type="text"
                  class="form-control" required>
                <p *ngIf="controls[('price' + price.name)]">
                  <span *ngIf=" isSubmit == 1 && controls[('price' + price.name)].errors != null" class="error-messege">
                    <span *ngIf="controls[('price'+price.name)].errors.required" class="error">Price {{price.name}} is required.</span>
                    <span *ngIf="controls[('price'+price.name)].errors.number" class="error">Price {{price.name}} is number.</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Creation date</label>
              <div class="col-sm-9">
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="artist.begin_date" name="begin_date" class="form-control datetimepicker"
                  placeholder="dd-mm-yyyy" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-md-12 ">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Avatar</label>
              <div class="col-sm-9">
                <input (change)="changThumbartists($event)" type="file" #avatarInput class="artist-avatar file-upload-default" accept="image/*">
                <div class="col-xs-12">
                  <p *ngIf="artist.avatar">
                    <img [src]="artist.public_avatar" src="#" class="thumb-artist" style="margin-bottom: 10px;">
                  </p>
                  <button onclick="return $('.artist-avatar').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">About artist</label>
              <div class="col-sm-9">
                <textarea [(ngModel)]="artist.bio" name="bio" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="line-bottom">Track List
        <a (click)="addMusic()" data-toggle="modal" data-target="#myModal" class="add-track" href="javascript:;">
          <i class="mdi mdi-plus"></i>
        </a>
      </h3>
      <div *ngIf="musics.length > 0 " class="box-list-musics">
        <ul id="sortable" appUimusics>
          <li class="ui-state-default" [attr.data-id]="item.id" *ngFor="let item of musics; let i=index">
            <div class="box-item">
              <p class="title-track">
                <img *ngIf="item.thumb" [src]="service.public_url + item.thumb" class="thumb-track"> {{item.name}}
              </p>
              <div class="action">
                <ul>
                  <li>
                    <a href="javascript:;" (click)="PlayTrack(item)">
                      <span [ngClass]="{'is_play' : item.is_play}" class="mdi mdi-play-circle-outline"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" (click)="EditMusic(item)" data-toggle="modal" data-target="#myModal" href="javascript:;">
                      <span class="mdi mdi-calendar-edit"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" (click)="DeleteMusic(i,item)">
                      <span class="mdi mdi-delete"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center bottom-block">
      <button type="submit" class="btn btn-success mr-2">Save</button>
      <a (click)="goBack();" class="btn btn-light">Cancel</a>
    </div>
  </div>
</form>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div *ngIf="music" class="modal-header">
        {{ (music.id == 0) ?  'Add Track' : 'Edit Track Details'}}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form (submit)="OnSubmitMusic(formMusic)" #formMusic="ngForm" class="form-sample">
          <div *ngIf="music">
            <div *ngIf="music.error" [innerHTML]="music.error" class="error-box"></div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Track name *</label>
                  <div class="col-sm-8">
                    <input [(ngModel)]="music.name" ngModel #name="ngModel" name="name" type="text" class="form-control" required>
                    <p *ngIf="name.invalid && isSubmitMusic == 1" class="error-messege">
                      <span *ngIf="name.errors.required" class="error">name is required.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Genre *</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control file-upload-info" ngModel #genre="ngModel" [(ngModel)]="music.genre" name="Gende" required>
                    <p *ngIf="genre.invalid && isSubmitMusic == 1" class="error-messege">
                      <span *ngIf="genre.errors.required" class="error">genre is required.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Upload thumb</label>
                  <div class="col-sm-8">
                    <input type="file" (change)="changThumbmusic($event)" #thumbFile name="thumbFile" class="artist-thumb file-upload-default"
                      accept="image/*">
                    <div *ngIf="!music.public_thumb" class="input-group col-xs-12">
                      <input class="form-control file-upload-info" disabled="" name="thumb" placeholder="Upload thumb" type="text">
                      <span class="input-group-append">
                        <button onclick="return $('.artist-thumb').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                      </span>
                    </div>
                    <div *ngIf="music.public_thumb">
                      <p>
                        <img [src]="music.public_thumb" src="#" class="thumb-music" style="margin-bottom: 10px;">
                      </p>
                      <button onclick="return $('.artist-thumb').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Upload file audio sample*</label>
                  <div class="col-sm-8">
                    <input (change)="changAudiomusicex($event)" [required]="!music.pathex" type="file" #pathexFile #pathex="ngModel" ngModel name="pathex" class="artist-pathex file-upload-default" accept="audio/*" required>
                    <div *ngIf="!music.public_pathex" class="input-group col-xs-12">
                      <input class="form-control file-upload-info" disabled="" name="thumb" placeholder="Upload audio track sample" type="text">
                      <span class="input-group-append">
                        <button onclick="return $('.artist-pathex').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                      </span>
                    </div>
                    <p *ngIf="pathex.invalid && isSubmitMusic == 1 && !music.pathex" class="error-messege">
                      <span *ngIf="pathex.errors.required" class="error">file audio sample is required.</span>
                    </p>
                    <div *ngIf="music.public_pathex">
                      <p>
                        <audio [src]="music.public_pathex" src="#" class="audio-music" controls></audio>
                      </p>
                      <button onclick="return $('.artist-pathex').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Upload file audio *</label>
                  <div class="col-sm-8">
                    <input (change)="changAudiomusic($event)" [required]="!music.path" type="file" #pathFile #path="ngModel" ngModel name="path" class="artist-path file-upload-default" accept="audio/*" required>
                    <div *ngIf="!music.public_path" class="input-group col-xs-12">
                      <input class="form-control file-upload-info" disabled="" name="thumb" placeholder="Upload audio track" type="text">
                      <span class="input-group-append">
                        <button onclick="return $('.artist-path').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                      </span>
                    </div>
                    <p *ngIf="path.invalid && isSubmitMusic == 1 && !music.path" class="error-messege">
                      <span *ngIf="path.errors.required" class="error">file audio is required.</span>
                    </p>
                    <div *ngIf="music.public_path">
                      <p>
                        <audio [src]="music.public_path" src="#" class="audio-music" controls></audio>
                      </p>
                      <button onclick="return $('.artist-path').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="row">
                      <label class="col-sm-4 col-form-label">Date of creation</label>
                      <div class="col-sm-8">
                        <input placeholder="Datepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="music.day_of_creation"
                          name="day_of_creation" class="form-control" placeholder="dd-mm-yyyy" autocomplete="off">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Track information</label>
                      <div class="col-sm-8">
                        <textarea [(ngModel)]="music.description" name="description" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center bottom-block">
                <input type="hidden" name="id" [(ngModel)]="music.id">
                <button type="submit" class="btn btn-success mr-2">Save</button>
                <a type="button" data-dismiss="modal" class="btn btn-light">Close</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>