<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!--<li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="assets/images/faces/face1.jpg" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">Richard V.Welsh</p>
                        <div>
                            <small class="designation text-muted">Manager</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-block">New Project
                    <i class="mdi mdi-plus"></i>
                </button>
            </div>
        </li>-->
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link" data-href="/dashboard">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-artists" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-artist"></i>
                <span class="menu-title">Artists</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-artists">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a routerLink="/artists" class="nav-link" data-href="/artists">All Artists</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/artists/add" class="nav-link" data-href="/artists/add">Add Artists</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a routerLink="/invoices" class="nav-link" data-href="/invoices">
                <i class="menu-icon mdi mdi-cart"></i>
                <span class="menu-title">Invocies</span>
            </a>
            
        </li>
    </ul>
</nav>