<div *ngIf="artist">
  <form (submit)="OnSubmit(formData)" #formData="ngForm" class="form-sample">
    <div class="error-box"></div>
    <div class=" row">
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Artist name *</label>
          <div class="col-sm-9">
            <input [(ngModel)]="artist.name" ngModel #name="ngModel" name="name" type="text" class="form-control" required>
            <p *ngIf="controls.name">
              <span *ngIf=" isSubmit == 1 && controls.name.errors != null" class="error-messege">
                <span *ngIf="controls.name.errors.required" class="error">name is required.</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngFor="let price of artist.prices; let i = index">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Price {{price.name}}* ({{price.icon}})</label>
          <div class="col-sm-9">
            <input [(ngModel)]="artist.prices[i].price" ngModel #price{{price.name}}="ngModel" name="price{{price.name}}" type="text"
              class="form-control" required>
            <p *ngIf="controls[('price' + price.name)]">
              <span *ngIf=" isSubmit == 1 && controls[('price' + price.name)].errors != null" class="error-messege">
                <span *ngIf="controls[('price'+price.name)].errors.required" class="error">Price {{price.name}} is required.</span>
                <span *ngIf="controls[('price'+price.name)].errors.number" class="error">Price {{price.name}} is number.</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Creation date</label>
          <div class="col-sm-9">
            <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="artist.begin_date" name="begin_date" class="form-control datetimepicker"
              placeholder="dd-mm-yyyy" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Avatar</label>
          <div class="col-sm-9">
            <input (change)="changThumbartists($event)" type="file" #avatarInput class="artist-avatar file-upload-default" accept="image/*">
            <div class="input-group col-xs-12">
              <input *ngIf="!artist.avatar" type="text" class="none form-control file-upload-info" disabled="" placeholder="Upload Image">
              <p *ngIf="artist.avatar">
                <img [src]="artist.avatar" src="#" class="thumb-artist" style="margin-bottom: 10px;">
              </p>
              <span class="input-group-append">
                <button onclick="return $('.artist-avatar').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">About artist</label>
          <div class="col-sm-9">
            <textarea [(ngModel)]="artist.bio" name="bio" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center bottom-block">
        <button type="submit" class="btn btn-success mr-2">Save</button>
        <a (click)="goBack();" class="btn btn-light">Cancel</a>
      </div>
    </div>
  </form>
</div>