<div *ngIf="artist">
  <form (submit)="OnSubmit(formData)" #formData="ngForm" class="form-sample">
    <div class="error-box"></div>
    <div class=" row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Name *</label>
              <div class="col-sm-9">
                <input [(ngModel)]="artist.name" ngModel #name="ngModel" name="name" type="text" class="form-control" required>
                <p *ngIf="controls.name">
                  <span *ngIf=" isSubmit == 1 && controls.name.errors != null" class="error-messege">
                    <span *ngIf="controls.name.errors.required" class="error">name is required.</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Sort Name</label>
              <div class="col-sm-9">
                <input [(ngModel)]="artist.sort_name" name="sort_name" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngFor="let price of artist.prices; let i = index">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Price {{price.name}}* ({{price.icon}})</label>
              <div class="col-sm-9">
                <input [(ngModel)]="artist.prices[i].price" ngModel #price{{price.name}}="ngModel" name="price{{price.name}}" type="number" class="form-control" required>
                <p *ngIf="controls[('price' + price.name)]">
                  <span *ngIf=" isSubmit == 1 && controls[('price' + price.name)].errors != null" class="error-messege">
                    <span *ngIf="controls[('price'+price.name)].errors.required" class="error">Price {{price.name}} is required.</span>
                    <span *ngIf="controls[('price'+price.name)].errors.number" class="error">Price {{price.name}} is number.</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Gender *</label>
              <div class="col-sm-9">
                <select [(ngModel)]="artist.gender" ngModel #gender="ngModel" name="gender" class="form-control" required>
                  <option value="">-- choose gender --</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
                <p *ngIf="controls.gender">
                  <span *ngIf="isSubmit == 1 && controls.gender.errors != null" class="error-messege">
                    <span *ngIf="controls.gender.errors.required" class="error">gender is required.</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Type * </label>
              <div class="col-sm-9">
                <select [(ngModel)]="artist.type" ngModel #type="ngModel" name="type" class="form-control" required>
                  <option value="">-- choose type --</option>
                  <option value="Person">Person</option>
                  <option value="Group">Group</option>
                  <option value="Orchestra">Orchestra</option>
                  <option value="Choir">Orchestra</option>
                  <option value="Character">Character</option>
                  <option value="Other">Other</option>
                </select>
                <p>
                  <span *ngIf="type.invalid && isSubmit == 1" class="error-messege">
                    <span *ngIf="type.errors.required" class="error">type is required.</span>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Begin date</label>
              <div class="col-sm-9">
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="artist.begin_date" name="begin_date" class="form-control datetimepicker"
                  placeholder="dd-mm-yyyy" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">End date</label>
              <div class="col-sm-9">
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="artist.end_date" name="end_date" class="form-control datetimepicker"
                  placeholder="dd-mm-yyyy" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Date of birth</label>
                  <div class="col-sm-9">
                    <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="artist.date_of_birth" name="date_of_birth"
                      class="form-control datetimepicker" placeholder="dd-mm-yyyy" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Area</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="artist.area" name="area" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Avatar</label>
                  <div class="col-sm-9">
                    <input type="file" #avatarInput class="artist-avatar file-upload-default" accept="image/*">
                    <div class="input-group col-xs-12">
                      <input type="text" [(ngModel)]="artist.avatar" name="avatar" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                      <span class="input-group-append">
                        <button onclick="return $('.artist-avatar').trigger('click');" class="file-upload-browse btn btn-info" type="button">Upload</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Biography</label>
              <div class="col-sm-9">
                <textarea [(ngModel)]="artist.bio" name="bio" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center bottom-block">
        <button type="submit" class="btn btn-success mr-2">Save</button>
        <a (click)="goBack();" class="btn btn-light">Cancel</a>
      </div>
    </div>
  </form>
</div>